.about-content {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: 'Trebuchet MS', sans-serif;
}

.about-content p {
    color: #333333;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

@media (max-width: 600px) {
    .about-content {
        padding: 10px;
        margin: 10px;
    }
    .about-content h2 {
        font-size: 2rem;
    }
}
