.booking-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
}

.booking-title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.calendar-container {
    flex: 1;
    padding: 10px;
    margin: 10px;
    margin-top: 0px;
    border-radius: 5px;
    max-width: 50%;
    height: 270px;
}

.time-slots-container {
    flex: 1;
    padding: 10px;
    margin: 10px;
    overflow-y: auto;
    height: 250px; 
    border: 1px solid #ccc;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}



.time-slot {
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-align: center;
}

.time-slot:hover {
    background-color: #e0e0e0;
}

.time-slot.selected {
    background-color: #c0e0c0;
}

.time-slot.unavailable {
    background-color: #848884;
    color: #E5E4E2;
    cursor: not-allowed;
}

.cart-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
}

.reservation-list {
    margin-bottom: 15px;
}

.reservation-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.total-price {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.checkout-button {
    background-color: #4AB1EF;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.checkout-button:hover {
    background-color: #3998D0;
}

.message {
    color: black;
    text-align: center;
    font-size: large;
    margin-top: 10px;
}

.react-datepicker {
    width: 100%; /* Ensures the Calendar uses all the space provided by the container */
    height: 100%;
    font-size: 16px;
}
.react-datepicker__month-container {
    width: 100%;
    height: 100%
}

.react-datepicker__header {
    background-color: #f0f0f0;
    border-bottom: none;
}

.react-datepicker__day:hover,
.react-datepicker__time-list-item:hover {
    background-color: #e0e0e0;
}

.react-datepicker__navigation {
    top: 12px;
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .calendar-container, .time-slots-container, .cart-container {
        max-width: 100%;
        margin: 10px 0;
        flex: none;
    }

    .cart-container {
        width: 100%;
    }
}