.locations-container {
    margin: auto;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
}

.logo-and-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.business-logo {
    max-width: 200px;
    margin-bottom: 0.5rem;
}

.page-title {
    text-align: center;
    margin: 0;
    font-size: 2.8em;
    color: #003366;
    font-weight: bold;
    letter-spacing: 1px;
}

.locations-row {
    display: flex;
    margin-bottom: 50px;
}

.locations-col {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.locations-details {
    margin-left: 20px;
}

.locations-details h3 {
    font-size: 1.4rem;
    color: #003366;
}

.locations-details p,
.locations-details li {
    color: #333;
    line-height: 1.6;
    font-size: 1.2rem;
}

.locations-details .contact-info {
    font-weight: bold;
}

.locations-col iframe {
    max-width: 100%;
    height: 100%;
    border-radius: 4px;
}

.locations-title {
    text-align: center;
    margin: 1rem 0;
    font-size: 2.1em;
    color: #003366;
    font-weight: bold;
}

@media (max-width: 768px) {
    .locations-row {
        flex-direction: column;
    }

    .locations-col {
        margin: 10px 0;
    }

    .locations-title {
        font-size: 2rem;
    }
}