.login-container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: whitesmoke;
}

.login-center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-form-container {
    background-color: #003366;
    padding: 20px;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    color: white;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 400px;
}

.login-label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: white;
}

.login-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #0070a3;
    border-radius: 4px;
    background-color: #004680;
    color: white;
}

.login-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #e67350;
}

.login-error-message {
    color: red;
    margin-top: 10px;
    font-size: 1rem;
}

.login-member-check {
    text-align: center;
    margin-top: 20px;
}

.login-link-button {
    color: orange;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .login-form-group {
        width: 90%;
    }

    .login-title {
        font-size: 2rem;
    }

    .login-label,
    .login-input,
    .login-button {
        font-size: 1rem;
    }
}