.features {
    font-family: 'Times New Roman', Times, serif;
}

.mission {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Mission page styles */

.mission-text {
    background-image: url('https://www.heatpressnation.com/cdn/shop/products/unisub-sublimation-blank-homeplate-plaque-10-x-10-4-pack.jpg?v=1600985064');
    background-size: cover;
    background-position: center;
    padding: 20px; 
    color: black;
}

.home-plate-img {
    width: 100%;
    height: auto;
   
}

.cover-container {
    position: relative;
}

.cover-text {
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 86px;
    font-weight: bold;
}

.error-message {
    color: black;
    background-color: #FFC0CB;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.terms-privacy-links {
    color: #007bff;
    text-decoration: underline; 
    cursor: pointer;
}

.member-check {
    text-align: center;
}

.member-check a {
    color: #1e90ff;
    text-decoration: none;
    padding: 2px;
    border-radius: 3px;
}

.member-check a:hover {
    color: #e6e6e6;
}
