.nav {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures the navbar is above other content */
}

.title-and-logo-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-items-container {
    flex-grow: 2;
    display: flex;
    justify-content: space-around; /* Or space-between, depending on your preference */
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.action-buttons-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end; /* Aligns the action buttons to the right */
}

.action-buttons .button, .action-buttons .accountButton, .action-buttons .bookingButton {
    margin-left: 10px; /* Adjust spacing between buttons */
    margin-right: 10px;
}


.logo {
    height: 70px;
    width: auto;
    margin-right: 10px; /* Adjust this as needed */
    display: block;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
}

.navLink {
    padding: 20px;
    font-size: 16px;
}

/* Dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #e1e1e1;
    min-width: 140px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    border-top: 3px solid orange;
    /* border-top: 3px solid #75C2F6; */
    text-align: center;
    transition: opacity .1s linear 0s, visibility 0s linear .1s;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    transition: opacity .1s linear 0s, visibility 0s linear 0s;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    transition: background-color .1s ease, color .1s ease;
}

.dropdown-content a:hover {
    /* background-color: #75C2F6; */
    background-color: orange;
    color: white;
}

.dropbtn {
    background-color: white;
    color: black;
    font-size: 19px;
    border: none;
    cursor: pointer;
    width: 130px; /* add this line */
    height: 40px;
    text-align: center;
    margin: -5px;
}

.dropbtn:hover {
    background-color: inherit;
}

.button {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    color: black;
    background-color: #D9D9D9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.1);
}

/* .accountButton {
    margin-left: 5px;
    margin-right: 30px;
} */
.accountButton {
    margin-left: 5px;
    margin-right: 30px;
}

.button:hover {
    background-color: #EEEDED;
}

/* Media Query for small screens */
@media (max-width: 768px) {
    .nav {
        flex-direction: column; /* Stack items vertically */
    }
    
    .dropdown {
        text-align: center; /* Center the text */
        margin: 5px 0;
    }
    
    .dropbtn, .button {
        font-size: 14px;
        padding: 6px; 
        margin: 0 auto;
        display: block;
    }
    
    .navLink {
        padding: 8px; /* Reduce padding */
    }
    .dropdown-content a {
        font-size: 14px; /* Reduced font size to match other adjustments */
        padding: 8px 12px; /* Optionally adjust padding for better touch targets */
    }
    .dropdown-content {
        position: static; /* Override position */
        visibility: visible; /* Override visibility */
        opacity: 1; /* Override opacity */
        display: none; /* Initially hide */
    }
    

    .dropdown.active .dropdown-content {
        display: block; /* Display when active */
    }

    .navbar-items-container {
        justify-content: center; /* Override for smaller screens if needed */
        flex-wrap: wrap; /* Allows items to wrap to the next line on small screens */
    }

    .bookingButton {
        margin-bottom: 10px;
    }

    
    .accountButton {
        margin-left: 0px; /* override the margin on smaller screens so that it is centered */
        margin-right: 0px;
    }
    
    .title {
        font-size: 20px; /* Even smaller on very small screens */
    }
    .logo {
        height: 50px; /* Adjust the logo size for smaller screens */
    }

}