body {
    background-color: lightblue;
    font-family: sans-serif;
    padding-top: 80px; /* Adjust this value based on the actual height of your navbar */

}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: auto;
}

.img-small {
    width: 50%;
    height: auto;
}

.img-med {
    width: 75%;
    height: auto;
}

/* styling for responsive page layout */

.container {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    flex: 1;
    padding: 15px;
    box-sizing: border-box;
}

.col-wider {
    flex: 2;
}

.col-even-wider {
    flex: 3;
}

.center {
    align-items: center;
    text-align: center;
}

.row-col {
    flex-direction: column;
}

/* center content in a image containers - used in cover images */
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.new-nav {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-background {
    background-color: #003366;  /* Dark background */
    padding: 20px;
    border-radius: 8px;  /* Rounded corners */
    color: white;  /* White text */
}

.form-background label, .form-background input {
    color: white;
}

.form-background input {
    background-color: #004680;
    color: white;
    border: 1px solid #0070a3;
    border-radius: 4px;
    padding: 5px;
}

